.closeButtonContainer {
  margin: 0 auto;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.closeButton {
  width: 36px;
  height: 34px;
  background-color: #e58490;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  margin-right: 10px;
  box-shadow: 2px 2px 5px #c4c4c4, -2px -2px 5px #fae6e8;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.closeButton:hover {
  background-color: #d75c6b;
}

.image {
  margin-bottom: 20px;
  border: none;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  box-shadow: 2px 2px 5px #c4c4c4, -2px -2px 5px #fae6e8;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* 이미지 넘침 방지를 위해 */
}

.image img {
  object-fit: cover; /* 이미지를 비율 유지하며 부모 요소에 맞춰 채우도록 설정 */
  width: 100%; /* 이미지가 100% 영역을 차지하도록 설정 */
  height: 100%; /* 이미지가 100% 영역을 차지하도록 설정 */
}

.nickname {
  font-size: 26px;
}

.temp {
  position: absolute;
  left: 15px;
  top: 120px;
}

.introduce {
  width: 280px;
  min-height: 35px;
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 30px;
  box-shadow: inset 2px 2px 4px #fae6e8, inset -2px -2px 4px #ffffff;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.noIntroduce {
  margin: 30px;
}

.selfContainer {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
}

.self {
  text-align: left;
  margin-bottom: 4px;
}

.hash {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  height: calc(160px - 12px);
  width: 100%;
  overflow-y: scroll;
  /* scrollbar-color: pink; */
  /* scrollbar-width: 2px; */
  /* padding-bottom: 4px; */
}

.hash p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e58490;
  border: none;
  border-radius: 20px;
  padding: 4px 12px;
  height: 36px;
  scale: 90%;
  box-shadow: inset 2px 2px 4px #fae6e8, inset -2px -2px 4px #ffffff;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.ThermoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
