/* IssueCreate.module.css */

.issueBoardBackground {
  padding: 20px 0;
  min-height: 100vh;
}


.issueBoardContainer {
  margin: 0 auto;
  background-color: white;
  width: 80%;
  min-width: 1200px;
  padding: 10px 20px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}


.formContainer {
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  box-shadow:inset 2px 2px 2px 2px rgba(200, 200, 200, 0.233),
  5px 5px 10px 0px rgba(100, 100, 100, .1),
  3px 3px 5px 0px rgba(100, 100, 100, .1);
  border-radius: 15px;
  background-color: #fcf4f5;
    
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .label {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .inputField,
  .textAreaField {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    border: 2px solid gray;
    margin: 5px 0;
  }
  
  .textAreaField {
    resize: vertical;
  }
  
  .submitButton {
    background-color: #d75c6b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  