/*메인 비트비트 폰트*/
/* @font-face{
  font-family:'bitbit';
  src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
} */
@font-face {
  font-family: 'HANAMDAUM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'UhBeeSe_hyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 10px; 
}
  
.btn {
  /* font-family: "PFStardust";
  font-size: 30px; */
  flex: 1 1 auto;
  margin: 10px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color:white;
  box-shadow: 0 0 20px #eee;
  /* border-radius: 10px;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  border: none; */
}

/* .btn:hover {
  background-position: right center;
} */

.linkButton {
  text-decoration: none;
  color: inherit; /* 상위 요소의 색상 상속 */
  display: inline-block;
}

.btn * {
  font-family: "UhBeeSe_hyun";
}
.btn {
  font-size: 24px;
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 0.5em 1em;
  background: #DAF2FE;
  border: 2px solid #173F92;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.btn::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #76BBFD;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #B6E2FE, 0 0 20px #eee;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.btn:hover {
  background: #B6E2FE;
  transform: translate(0, 0.25em);
}
.btn::before {
  box-shadow: 0 0 0 2px #173F92;
  transform: translate3d(0, 0.5em, -1em);
}
.btn:active {
  background: #B6E2FE;
  transform: translate(0em, 0.75em);
}
.btn:active::before {
  box-shadow: 0 0 0 2px #173F92, 0 0 #B6E2FE;
  transform: translate3d(0, 0, -1em);
}

/* .btn span {
  font-family: "UhBeeSe_hyun";
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce .5s ease infinite alternate;
  font-size: 30px;
  color: #FFF;
  text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .4);
} */

.btn span:nth-child(2) { animation-delay: .1s; }
.btn span:nth-child(3) { animation-delay: .2s; }
.btn span:nth-child(4) { animation-delay: .3s; }
.btn span:nth-child(5) { animation-delay: .4s; }
.btn span:nth-child(6) { animation-delay: .5s; }
.btn span:nth-child(7) { animation-delay: .6s; }
.btn span:nth-child(8) { animation-delay: .7s; }

@keyframes bounce {
  100% {
    top: -10px;
    /* text-shadow: 0 1px 0 #e5e5e5,
                 0 2px 0 #e5e5e5,
                 0 3px 0 #e5e5e5,
                 0 4px 0 #e5e5e5,
                 0 5px 0 #e5e5e5,
                 0 6px 0 #e5e5e5,
                 0 7px 0 #e5e5e5,
                 0 8px 0 #e5e5e5,
                 0 9px 0 #e5e5e5,
                 0 50px 25px rgba(0, 0, 0, .2); */
  }
}