.adminContainer {
    text-align: left;
    min-width: 1100px;

    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #EEEEEE;
    margin: 0;
    padding: 0;
}

.logoContainer {
    width: 220px;
    margin: 10px;
    margin-left: 50px;
}

.sidebar {
    width: 240px;
    /*min-height: 800px;*/
    background-color: #29292A;
    color: #CFCECD;
}

.sidebarMenu {
    /* text-align: center; */
    padding: 30px;
}

.sidebarMenu>div {
    margin: 20px;
}

.sidebarMenu img {
    margin-right: 15px;
}

.sideList:hover {
    cursor: pointer;
}