.ItemContainer {
  display: flex;
}

.SideBar {
  width:200px;
  height: 100%;
  background-color: #004BA1;
  color: white;
  margin-top: 60px;
  display: inline-block;
}

.OutletBoard {
  margin-top: 60px;
  background-color: #7b9ec6;
  border: 1px solid black;
  border-radius: 20px;
  width: 500px;
  height: 80vw;
  display: inline-block;
}