.ItemContainer {
  display:flex;
}

.SideBar {
  width:200px;
  background-color: #004BA1;
  color: white;
}

.OutletBoard {
  display: flex;
  justify-content: center;
  background-color: #7b9ec6;
  border: 1px solid black;
  border-radius: 20px;
  width: 800px;
  height: 600px;
}