

.container{ 
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEE5EF;
  
}
/*section1*/

.section1textbox {

  font-family: "Pretendard-ExtraBold";
  font-size: 80px;

}

.section1imgbox{
  height: auto; /* 높이를 자동으로 조정하여 이미지와 버튼이 함께 표시되도록 합니다. */
  display: flex;
  flex-direction: column; /* 아래로 요소들을 나열하도록 설정합니다. */
  justify-content: center;
  align-items: center;
  background-color: #FEE5EF;
  margin-left: 100px;
}


.img {
  width: 600px;
  margin-left: 100px;
}


/*section2*/

.section2imgbox {
  width: 300px;
  display:flex;
  margin-top: 20px;
}

.section2textbox {
  font-family :"Pretendard-ExtraBold";
  font-size: 80px;
  color: #004BA1;

}


/*section3*/

.section3imgbox {
  width: 300px;
  display:flex;
  margin-top: 20px;
}







.imgbox {
  width: 300px;
  display:flex;
  margin-top: 20px;
}

.textbox {
  font-family :"Pretendard-ExtraBold";
  font-size: 80px;
  color: #004BA1;
  margin-left: 100px;
  height: 500px;
  width: 500px;
}




