.wrapper {
  width: auto;
  height: 800px;
  background-color: #FEE5EF;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.section1textbox {
  font-family: "Pretendard-ExtraBold";
  
  width: 400px; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
 

}

.section1textbox h1 {
  font-family: "Pretendard-ExtraBold";
  font-size: 60px;
  font-weight: 600;

}



.section1imgbox {
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 100px;
  

}

.section1imgbox img {
  width: 600px;
  
}



/*section2*/

.section2imgbox {
  width: 300px;
  display:flex;
  margin-top: 20px;
}

.section2textbox {
  font-family :"Pretendard-ExtraBold";
  font-size: 80px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  margin-left: 50px;

}


/*section3*/
.section3imgbox1 {
  width: 200px;
  display:flex;
  margin-top: 20px;
}


.section3imgbox2 {
  width: 180px;
  display:flex;
  margin-top: 20px;
  margin-right:100px;
}


/*section4*/
.section4imgbox {
  width: 300px;
  display:flex;
  margin-top: 20px;
  margin-left:100px;
}




/*section5*/
.section5imgbox {
  width: 200px;
  display:flex;
  margin-top: 20px;
  margin-right:100px;
}





.imgbox {
  width: 300px;
  display:flex;
  margin-top: 20px;
}

.textbox {
  font-family :"Pretendard-ExtraBold";
  font-size: 80px;
  color: #004BA1;
  margin-left: 100px;
  height: 500px;
  width: 500px;
}



