@font-face {
  font-family: "UhBeeSe_hyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.outer {
  /* min-height: 100vh; */
  height: auto;
  position: relative;
}

.container {
  position: relative;
  min-height: 95vh;
  margin-top: 5vh;
  background-color: white;
  margin-left: 130px;
  margin-right: 130px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  /* border-left: 3px solid #2e6070;
    border-right: 3px solid #2e6070;
    border-top: 3px solid #2e6070; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 70px;
}

.title {
  font-family: "UhBeese_hyun";
  font-size: 32px;
}

.innerContainer {
  display: flex;
  width: 85%;
}
