@font-face {
    font-family: 'UhBeeSe_hyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  .outer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    min-height: 95vh;
    width: 60%;
    margin-top: 5vh;
    background-color: white;
    margin-left: 130px;
    margin-right: 130px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-left: 3px solid #2e6070;
    border-right: 3px solid #2e6070;
    border-top: 3px solid #2e6070;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 70px;
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;

}

.title {
    font-family: 'UhBeese_hyun';
    font-size: 32px;
    margin: 20px;
}