@font-face {
  font-family: "UhBeeSe_hyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  position: relative;
  width: 85%;
  height: 200px;
  padding: 20px 50px;
  background-image: linear-gradient(
      rgba(250, 230, 232, 0.7),
      rgba(250, 230, 232, 0.7)
    ),
    url("../../../../public/img/heart_pattern.jpg");
  background-repeat: repeat;
  background-size: 130px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
}

#profileImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 7px #bdbdbd;
  background-color: white;
  transform: translate(-50%, -50%); /* 이미지를 가운데 정렬 */
  position: relative; /* 부모에 대해 상대 위치 설정 */
  top: 50%;
  left: 50%;
}

#noImg {
  height: 100%;
  border-radius: 50%;
  background-color: white;
  color: gray;
  box-shadow: 0px 0px 7px #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

#editImg {
  cursor: pointer;
  position: absolute;
  left: 170px;
  top: 140px;
  height: 25px;
  z-index: 100;
  border-radius: 30%;
  background-color: #f2f2f2;
}

.innerWrapper {
  height: 100%;
  padding: 15px 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.nickname,
.introduce {
  text-align: left;
  font-family: UhBeeSe_hyun;
  margin-bottom: 10px;
  font-size: 20px;
}
