.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.friendContainer {
  bottom: 20px;
  right: 20px;
  z-index: 200;
}

.button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 200;
}

.hide {
  display: none;
}

.chatContainer {
  width: 360px;
  height: 600px;
  background-color: white;
  /* background-color: #fae6e8; */
  position: fixed;
  bottom: 30px;
  right: 120px;
  z-index: 200;
  overflow-y: scroll;
  border-radius: 5%;
  padding: 12px;
  box-shadow: 2px 5px 5px #c4c4c4, -2px -2px 5px #ffffff; /* Neumorphism shadow */
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.profileContainer {
  width: 360px;
  height: 600px;
  background-color: white;
  position: fixed;
  bottom: 30px;
  right: 390px;
  z-index: 200;
}