.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  overflow: hidden;
}

.friendContainer {
  bottom: 20px;
  right: 20px;
  z-index: 200;
}

.button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* background-color: inherit; */
  background-color: white;
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 200;
  border: none;
  box-shadow: 2px 5px 5px #c4c4c4, -2px -2px 5px #ffffff; /* Neumorphism shadow */
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button img {
  width: 80px;
}

.totalUnread {
  position: fixed;
  background-color: red;
  border-radius: 50%;
  color: white;
  width: 25px;
  margin-left: 8px;
}

.hide {
  display: none;
}

.profileContainer,
.chatContainer {
  width: 360px;
  height: 600px;
  background-color: white;
  position: fixed;
  bottom: 30px;
  right: 185px;
  z-index: 200;
  border-radius: 20px;
  padding: 12px;
  box-shadow: 2px 5px 5px #c4c4c4, -2px -2px 5px #ffffff; /* Neumorphism shadow */
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* .profileContainer {
  width: 360px;
  height: 600px;
  background-color: #fae6e8;
  position: fixed;
  bottom: 30px;
  right: 545px;
  z-index: 200;
  border-radius: 20px;
  padding: 12px;
  box-shadow: 2px 5px 5px #c4c4c4, -2px -2px 5px #ffffff;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
} */

.profileContainer {
  right: calc(185px + 360px);
  background-color: #fae6e8;
  margin-right: 5px;
}

/* 수직 스크롤바 */
.chatContainer,
.profileContainer {
  ::-webkit-scrollbar {
    width: 6px;
  }
  /* 스크롤바 바탕 */
  ::-webkit-scrollbar-thumb {
    background-color: #ccc; /* 스크롤바 색상 */
    border-radius: 8px; /* 스크롤바 모양 */
  }
  
  /* 스크롤바 경계 */
  .friendContainer ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
}

