.logo {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.navMenu {
  cursor: pointer;
  margin-left: 64px;
  font-size: 20px;
  font-weight: 500;
  width: 64px;
  text-decoration: none;
  color: #888888;
}

.navLeft {
  margin-left: 150px;
}

.navRight {
  margin-left: auto;
  margin-right: 150px;
}

.mainNav {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #fee5ef;
  align-items: center;
}

.profileImage {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.nickname {
  color: #2572cf;
}