.title {
  font-weight: 600;
  /* padding-right: 30px; */
  width: 120px;
}

.noData {
  color: rgb(165, 165, 165);
}

.innerWrapper,
.updateWrapper {
  width: 100%;
  padding-left: 20px;
  text-align: left;
  display: flex;
}

.btnWrapper {
  position: absolute;
  right: 40px;
}

#moreInfo td {
  min-width: 200px;
}

#moreInfo th {
  width: 200hpx;
}

.innerWrapper tr div {
  min-height: 30px;
}

.hashtag span {
  background-color: rgb(241, 250, 250, 0.8);
  padding: 2px 5px;
  margin-right: 5px;
}

.updateWrapper {
  flex-direction: column;
}

.updateDiv {
  display: flex;
  align-items: center;
}

.input {
  border-radius: 5px;
  border: 2px solid #808080;
  padding: 3px 10px;
  margin-top: 3px;
}

#heightInput {
  width: 100px;
}

#introduceInput {
  width: 80%;
}

.dropDown {
  position: relative;
  /* height: auto; */
}

.dropDownMenu {
  position: relative;
  width: 130px;
  height: 33px;
  padding: 3px 10px;
  margin-top: 3px;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: white;
  /* text-align: center; */
  cursor: pointer;
  border-collapse: collapse;
}

.dropDownMenu > span {
  display: inline-block;
  width: 100px;
  height: 100%;
}

.xImg {
  position: absolute;
  right: 7px;
  top: 0;
  width: 15px;
  height: 100%;
  padding-left: 5px;
}
.xImg > img {
  position: relative;
  width: 10px;
}

.dropDownMenu.multiple {
  min-width: 220px;
  padding-right: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropDownMenu.multiple > span {
  display: inline-block;
  min-width: 180px;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropDownBtn {
  width: 130px;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  background-color: white;
}

.dropDownBtn:hover {
  background-color: #f7d1d6;
}

.multiple > .dropDownBtn {
  width: 220px;
}

.isOpen {
  display: inline-block;
  position: absolute;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-collapse: collapse;
  z-index: 100;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 130px;
}

.isOpen.multiple {
  width: 220px;
}

#jobOpen.isOpen,
#hobbyOpen.isOpen,
#personalityOpen.isOpen {
  top: -297px;
  border-bottom: none;
  border-top: 1px solid gray;
}

#styleOpen.isOpen {
  top: -193.8px;
  border-bottom: none;
  border-top: 1px solid gray;
}

.isClose {
  display: none;
}
