.title {
    font-weight: 600;
    /* padding-right: 30px; */
    width: 120px;
}

.innerWrapper {
    width: 100%;
    padding-left: 20px;
    text-align: left;
    display: flex;
}

.btnWrapper {
    position: absolute;
    right: 130px;
}

#moreInfo {
    margin-right: 200px;
}

.innerWrapper tr {
    height: 30px;
}

.hashtag>span {
    background-color: white;
    padding: 2px 5px;
    margin-right: 5px;
}

td {
    line-height: 100%;
}