.wrapper {
  position: relative;
  width: calc(100% - 180px);
  min-height: 45vh;
  padding: 20px;
  margin: 30px 10px;
  background-color: #fcf4f5;
  border-radius: 30px;
}

.wrapper * {
  font-size: 16px;
}

.label,
.btn,
.disabledBtn {
  margin: 5px;
}

.label {
  text-align: left;
}

.input,
.btn,
.disabledBtn,
.selectBtn {
  border-radius: 10px;
  padding: 5px 15px;
}

.label {
  color: rgb(145, 145, 145);
}

.input {
  border: 2px solid gray;
  margin: 5px 0;
}

.disabledBtn {
  border: none;
  background-color: gainsboro;
  color: whitesmoke;
}

.btn {
  border: none;
  background-color: #2e6070;
  color: whitesmoke;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.1), 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #327488;
}

.title {
  font-weight: 700;
  font-size: 20px;
}

.clickable {
  cursor: pointer;
}
