video {
  width: 100%;
  margin:20px 0;
  height: auto;
  border-radius: 40px;
  background-color: #91cad6;
  border: 5px solid #91cad6
}

.streamcomponent div {
  position: absolute;
  background: #f8f8f8;
  padding-left: 5px;
  padding-right: 5px;
  color: #777777;
  font-weight: bold;
  border-bottom-right-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}


p{
  margin: 0;
}

.sessionHeader{
  position:fixed;
  top:20px;
  right:20px;
}

.videoContainer {
  display: flex;
  justify-content: space-between;
}

.cardOuter{
  border : 1px solid black;
  background-color: #FEF1F6;
  filter: drop-shadow(10px 20px 5px #CCCCCC);
  width : 200px;
  height: 300px;
  margin : 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left : 50%;
  transform: translate(-50%, 0);
}

/* ScoreCheck module */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ScoreCheckBox {
  width:100%;
  background-color: #FEF1F6;
  border: 1px solid #4F4F4F;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ScoreBox {
  width:100%;
  padding: 20px;
  display: flex;
  align-content: space-around;
}

.HeartScore {
  width:100%;
  margin: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeartScore img{
  width:100%;
  vertical-align: middle;
  
}

.HeartScore:hover{
  cursor: pointer
}

.ScoreText {
  background: none;
  border : none;
  font-size: 1.5rem;
  font-weight: 700;
  position : absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
