.waitingContainer {
    padding: 20px;
}

.box{
    width : 80%;
    background-color: #fee5ef;
    border-radius: 30px;
    margin: 100px auto 0;
}

.rightBox{
    margin: auto;
}

.leftBox{
    margin: auto;
}

.waitingMenu {
    float: right;
    margin: 10px 20px;
}

.waitingMenu button {
    margin: 10px;
}