.ModalOuter {
  z-index: +1;
  position: fixed;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalInner {
  z-index: +10;
  position: fixed;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-radius: 20px;
  width: 500px;
  height: 520px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.ModalInner .description {
  margin: 40px;
}

.image {
  width: 240px;
  height: 240px;
  margin: 20px auto;
  background-color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image > img {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
}

.QuantityBox {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  width: 160px;
  padding: 5px;
  margin: auto;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
}

.QuantityBox div {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.QuantityNum {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.PlusButton {
  background-color: rgb(40, 40, 89);
  color: white;
  margin-right: 10px;
  cursor: pointer;
}

.MinusButton {
  background-color: white;
  margin-left: 10px;
  cursor: pointer;
}

.noButton {
  /* display: none; */
  background-color: rgb(180, 180, 180);
  margin: 0 10px;
}

.coinImage {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.button {
  margin: 10px auto;
  width: 160px;
  padding: 8px 16px;
  background-color: #e58490;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #d75c6b;
}

.priceDiv {
  margin-top: 10px;
  font-size: 18px;
}

.closeButton {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 15px;
}

.input {
  border-radius: 15px;
  border: 1px solid white;
  box-shadow: 0 0 2px;
  font-size: 25px;
  width: 270px;
  height: 40px;
  text-align: center;
  margin: 10px 0;
}

.input:focus {
  outline: none !important;
  border-color: #d6a8e9;
  box-shadow: 0 0 10px #2e6070;
}

.btn {
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
  background-color: #2e6070;
  color: whitesmoke;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.1), 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
  margin: 10px 5px;
}

.btn:hover {
  background-color: #327488;
}

.comment {
  color: #7c8689;
}
