/* 물고기 랜덤 박스 사용 모달 */

.RandomFishModalInner {
  z-index: +12;
  position: fixed;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-radius: 20px;
  width: 500px;
  height: 520px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fishImg {
  z-index: +14;
  width: 320px;
  height: auto;
  animation: explode 1s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-300%);
  }
  to {
    transition: translateX(0);
  }
}

@keyframes explode {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1.5;
  }
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.Confetti {
  width: 100%;
}

.newFish {
  margin-bottom: 20px;
  font-family: "UhBeeSe_hyun";
}