.outBox {
  width: 100%;
}

.ItemCardList {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.ItemCard {
  margin: 20px;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(99, 99, 99, 0.5);
  background-color: rgb(247, 205, 212);
  cursor: pointer;
  padding: 8px;
  transition: all 0.3s ease-in-out;
}
.disabledItemCard {
  margin: 20px;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(99, 99, 99, 0.5);
  background-color: gainsboro;
  padding: 8px;
  transition: all 0.3s ease-in-out;
}

.ItemCard:hover {
  transform: scale(1.03);
}

.ItemCardOuter {
  display: flex;
  justify-content: center;
}
.disabledItemCardOuter {
  display: flex;
  justify-content: center;
}

.itemCardInside {
  width: 90%;
  height: 160px;
  background-color: white;
  margin: 5px auto;
  border-radius: 10%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemCardInside > img {
  width: 75%;
}
.disabledItemCardInside {
  width: 90%;
  height: 160px;
  background-color: white;
  margin: 5px auto;
  border-radius: 10%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.disabledItemCardInside > img {
  width: 75%;
  opacity: 0.7;
}

.name {
  border-bottom: 1px solid white;
}

.price {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coinImage {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.itemListTitle {
  width: 90%;
  font-size: 18px;
  font-family: "UhBeeSe_hyun";
  text-align: left;
}
.emptyDiv {
  height: 40px;
}
.emptySpan {
  display: inline-block;
  width: 30px;
}
