.MyPoint {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 40px;
  height: 24px;
  width: 600px;
  border-radius: 40px;
  background-color: #d75c6b;
  color: white;
  margin: 0 auto;
  box-shadow: 4px 4px 10px #cbced1, -4px -4px 10px #ffffff;
}

.coinImage {
  width: 60px;
  height: 60px;
  margin-right: 4px;
}

.PointText {
  width: 300px;
}

.ChargeButton {
  font-size: 15px;
  display: inline-block;
  padding: 12px 20px;
  /* background-color: #f0f0f0; */
  background-color: #fae6e8;
  box-shadow: inset 2px 2px 4px #cbced1, inset -2px -2px 4px #ffffff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.2s; /* box-shadow 변화에 애니메이션 적용 */
}

.ChargeButton:hover{
  /* box-shadow: inset 0 0 20px #fae6e8; */
  box-shadow: inset 0 0 20px rgba(162, 162, 162, 0.5);
}