/* AdviceBoard.module.css */

.adviceBoardBackground {
  padding: 20px 0;
  min-height: 100vh;
}

/* Container styles */
.adviceBoardContainer {
  margin: 0 auto;
  background-color: white;
  width: 80%;
  min-width: 1200px;
  height: 80%;
  padding: 20px;
}

/* Table styles */
.adviceTable {
  width: 70%;
  min-width: 1000px;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 100px;
  
}

.adviceTable th,
.adviceTable td {
  padding: 10px;
  border: 1px solid #004BA1;
  text-align: center;
}

.adviceTable th {
  background-color: #004BA1;
  color: white;
}

/* Button styles */
.createButton {
  padding: 10px 20px;
  background-color: #004BA1;
  color: #fff;
  border: none;
  cursor: pointer;
  float: right;
  margin: 10px;
}

.createButton:hover {
  background-color: #0056b3;
}

/* Link styles */
.link {
  text-decoration: none;
  color: #007bff;
}

.link:hover {
  text-decoration: underline;
}


.dropdownKebab {
  width: 20px;
  height:20px;
 
  margin-left:10px;
  cursor: pointer;
  
}
.dropdownContainer {
  position: relative;
  
  float: right;
  margin-left:10px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent span {
  color: black;
  padding: 12px 16px;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdownContent span:hover {
  background-color: #f1f1f1;
}

.dropdownContainer:hover .dropdownContent {
  display: block;
}