/* AdviceBoard.module.css */

.adviceBoardContainer {
  width: 600px;
  height: 600px;
  
  justify-content: center;
  align-items: center;
}

.adviceTable {
  width: 100%;
  border-collapse: collapse;
  /* Add table styles here */
}

.adviceTable th, .adviceTable td {
  border: 1px solid #ccc;
  padding: 8px;
  /* Add table cell styles here */
}
