/* module.css */
.formContainer {
    width: 1600px;
    height: 800px;
    margin-top:100px;
    margin-left:100px;
   
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .formContainer h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .textAreaField {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  .submitButton {
    background-color: #004BA1;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  