.background {
  padding: 20px 0;
  min-height: 100vh;
}

.ItemContainer {
  display:flex;
}

.SideBar {
  width:200px;
  background-color: #004BA1;
  color: white;
}

.OutletBoard {
  display: flex;
  justify-content: center;
  background-color: #7b9ec6;
  border: 1px solid black;
  border-radius: 20px;
  width: 1200px;
  height: 100%;
}
