@font-face {
  font-family: "SUITE";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "SUITE";
}

.logo {
  height: 60px;
}

.navMenu {
  margin-left: 64px;
  font-size: 16px;
  font-weight: 500;
  width: 64px;
  text-decoration: none;
  color: #888888;
}

.navLeft {
  margin-left: 150px;
}

.navRight {
  margin-left: auto;
  margin-right: 150px;
}

.mainNav {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #fee5ef;
  align-items: center;
}

.App {
  position: absolute;
  text-align: center;
  background-image: linear-gradient(
    rgba(216, 253, 251, 0.5),
    rgba(0, 131, 159, 0.5)
  );
  background-size: cover;
  margin: 0;
  padding: 0;
  min-width: 1400px;
  width: 100%;
  height: auto;
  overflow-x: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
