/* 타이틀 */
.title {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.detailContainer {
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail {
    background-color: white;
    width: 1200px;
    height: 600px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInfo {
    width: 550px;
    height: 500px;
    background-color: antiquewhite;
}

.reportInfo {
    width: 550px;
    height: 500px;
    background-color: aquamarine;
}