/* styles.module.css */

.comment-form {
    background-color: #f0f0f0;
    box-shadow: 4px 4px 10px #cbced1, -4px -4px 10px #ffffff;
    border-radius: 8px;
    padding: 10px 30px;
    margin: 20px 0;
  }

  .comment-form form {
    display: flex;
  }
  
  .comment-input {
    flex: 1;
    border: none;
    background-color: #f0f0f0;
    box-shadow: inset 2px 2px 4px #cbced1, inset -2px -2px 4px #ffffff;
    border-radius: 8px;
    padding: 8px;
    margin-right: 10px;
    width: 80%;
  }
  
  .comment-button {
    background-color: #fae6e8;
    box-shadow: 4px 4px 10px #cbced1, -4px -4px 10px #ffffff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
  }
  