/* CommentList.module.css */

/* 공통 스타일 */
.comment-container {
  border-radius: 10px;
  background: #f2f2f2;
  box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff;
  padding: 10px;
  margin: 10px 0;
}

.comment {
  display: flex;
  align-items: center;
  width: 100%;
}

.comment-container p {
  margin: 0;
}

.comment-container button {
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.1), 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
  margin: 0 5px;
}

.comment-container input {
  width: 100%;
  height: 80px;
  resize: none;
  border-radius: 5px;
  padding: 5px;
}

.comment-details {
  display: flex;
  justify-content: center;
}

.comment-details input {
  height: 40px;
  width: 690px;
}

.comment-details button {
  width: 60px;
  margin: 0 10px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.1), 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
  margin: 0 5px;
  border-radius: 10px;
  padding: 5px 15px;
}

/* 좋아요 버튼 스타일 */
.like-button {
  background-color: #f2f2f2;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  transition: background-color 0.3s ease;
}

.like-button.active {
  background-color: #4285f4; /* 좋아요 활성화 시 색상 변경 */
  color: #fff;
  box-shadow: none;
}

/* 삭제 여부 스타일 */
.removed-status {
  color: #ff5252;
}

/* 수정 시간 없음 스타일 */
.no-modified-time {
  color: #777;
}

.comment * {
  margin: 0 5px;
}

/*comment 내부 부분*/
/* styles.module.css */

.nickname {
  font-weight: bold;
  width: 120px;
}

.comment-content {
  width: 360px;
  text-align: left;
}

.comment-like-button {
  width: 100px;
}

.comment-time {
  width: 160px;
}

.deleteButton {
  cursor: pointer;
  width: 60px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.1), 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
  margin: 0 5px;
  border-radius: 10px;
  padding: 5px 15px;
}

.voteButton {
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 0, 0, 0.1), 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
  margin: 0 5px;
  border-radius: 10px;
  padding: 5px 15px;
}
