.searchBarContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .searchInput {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .searchButton {
    padding: 8px 16px;
    background-color: rgb(0, 131, 159);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 15px;
  }
  