/* Sidebar.css */

.sidebar {
  
  margin-top: 60px;
   
    float: left;
   
    width: 200px;
    
    height: 100%;
    
    background-color: #004BA1;

    color: white;

    margin-right: 100px;
  }
  
  /* 사이드바 내부의 ul 요소 스타일 지정 */
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 20px;
  }
  
  /* 사이드바 내부의 li 요소 스타일 지정 */
  .sidebar li {
    margin-bottom: 10px;
  }
  
  /* 사이드바 내부의 링크 스타일 지정 */
  .sidebar a {
    text-decoration: none;
    color: white;
  }
  
  /* 사이드바 내부의 링크 호버(hover) 스타일 지정 */
  .sidebar a:hover {
    text-decoration: underline;
  }
  